
.feild {
    display: flex;
    background-color: rgb(226, 232, 240);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    margin: 15px;
    margin-left: 7%;
    margin-right: 7%;
}

.head_OF_Feilds{
    width: 190px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(60, 68, 144, 0.801);
}
.rightDiv{
    width: 70%;
    min-width: 310px;
}
.projects_Container{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.data_Container{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 0px;
    border-bottom: 1px solid rgba(60, 68, 144, 0.801);
}
.company{
    font-size: x-large;
    padding-bottom: 10px;
    font-weight: bold;
}
.rangeContainer{
    height: 20px;
    background-color: rgba(126, 134, 207, 0.801);
    border-radius: 5px;
}
.range{
    height: 100%;
    background: rgba(33, 40, 102, 0.801);
    border-radius: 5px;
}
.position_With_Date{
    font-size: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.position_Skills{
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-Data{
    margin-top: 10px;
}

@media screen and (max-width:700px) {
    .feild {
        padding: 10px;
        margin: 7.5px;
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media screen and (max-width:550px) {
    .feild{
        padding: 1px;
        margin: 3px;

    }
    .rightDiv {
        width: 90%;
        padding: 1px;
        
    }
    .projects_Container{
        width: 85%;
    }
    .company{
        font-size: large;
    }
    .position_With_Date{
        font-size: 18px;
    }
    .head_OF_Feilds{
        font-size: x-large;
        width: 125px;
    }
}