
html{
    background-color: rgb(31, 31, 31);
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

*{
    box-sizing: border-box;
}

#hide{
    display: none;
}

/* https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg */

header{
    position: relative;
    margin-bottom: -3px;
}

.back_header_img{
    width: 100%;
    min-height: 550px;
}

.personal_Name_Container{
    position: absolute;
    color: azure;
    top: 250px;
    left: 37%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.445);
}

.header_Name{
    font-size: xxx-large;
    border-bottom:2px solid;
    animation-name: newTextInetialize;
    animation-duration: 1s;
}

.header_Job{
    font-size: 55px;
    margin-top: 15px;
}

.nav_Btns{
    position: fixed;
    top: 50px;
    background: black;
    color: wheat;
    z-index: 1000;
}

.nav_Btns:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.bar_Items{
    padding: 10px;
}
.bar_Items:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}
.bar_Items a{
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-decoration: none;
}
.nav_Menu{
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    z-index: 90;
    display: flex;
    background-color: rgba(60, 68, 144, 0.801);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.my_Profile{
    padding: 25px;
    padding-left: 15%;
    padding-right: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    color: wheat;
    width: 100%;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
    background: rgba(43, 77, 189, 0.377);
}
.info_P{
    line-height: 20px;
}
#resume_btn{
    background: black;
    border-radius: 10px;
}
.contact_Feild{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    padding-bottom: 50px;
    background-color: rgb(31, 31, 31);
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.img_Container{
    width: 200px;
}
.img_Container img{
    width: 100%;
    border-radius: 100%;
}
.contactInfo_Container{
    width: 250px;
}
.head_OF_Feilds{
    font-size: xx-large;
    margin-bottom: 25px;
}


.experiance_Feild{
    display: flex;
    background-color: rgb(226, 232, 240);
}
.education_Feild{
    display: flex;
    background-color: rgb(226, 232, 240);
}
.projects_Feild{
    display: flex;
    background-color: rgb(226, 232, 240);
}
.skills_Feild{
    display: flex;
    background-color: rgb(226, 232, 240);
}

.cross_Line{
    margin: 20px;
    /* color: black;- */
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
}





footer{
    margin-top: 15px;
    /* padding-bottom: 5px; */
    background-color: rgb(31, 31, 31);
    font-family: 'Times New Roman', Times, serif;
}
.icons_Container{
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.icon_btn{
    width: 50px;
    color: rgb(255, 255, 255);
}
.span_Icon{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.span_Icon p{
    margin-top: 10px;
    visibility:hidden;
}
.last_Line_Container{
    background-color: black;
    color: wheat;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    text-align: center;
}
.span_Icon:hover .icon_btn{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}
.span_Icon:hover .icon_Text{
    visibility: visible;
    transition: 0.3s;
}


@keyframes newTextInetialize {
    0%{
        margin-top: 20px;
        opacity: 0.5;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes bar_Slide_Show {
    0%{
        left:-300px;
    }
    100%{
        left: 0;
    }
}
@keyframes bar_Slide_Hide {
    0%{
        left:0;
    }
    100%{
        left: -300px;
    }
}



@keyframes btn_Slide_Show {
    0%{
        left:0;
    }
    100%{
        left:300px;
    }
}
@keyframes btn_Slide_Hide {
    0%{
        left:300px;
    }
    100%{
        left:0;
    }
}

@media screen and (max-width:1200px){
    .personal_Name_Container{
        top: 140px;
        left: 34%;
    }
    .header_Job{
        font-size: 40px;
    }
    .header_Name{
        font-size: xx-large;
    }
}
@media screen and (max-width:900px){
    .personal_Name_Container{
        top: 167px;
        left: 37%;
    }
    .header_Job{
        font-size: 30px;
        margin-top: 10px;
    }
    .header_Name{
        font-size: x-large;
    }
    .my_Profile{
        height: 300px;
        padding: 5%;
    }
    .img_Container {
        width: 150px;
    }
}

@media screen and (max-width:700px){
    
    .my_Profile{
        height: 310px;
        padding: 5%;
        font-size: medium;
        
    }
    .personal_Name_Container{
        top: 30px;
        left: 27%;
    }
    .header_Job{
        font-size: 20px;
        margin-top: 10px;
    }
    
    .icon_btn{
        width: 30px;
        height: 30px;
    }
    .icon_Text{
        font-size: 10px;
    }
    
}